# Directories
.vs/
bin/
bin-int/

#Files
*.user
vendor/
entityx-master/
BlackPearl.sln
./LearnOpenGL_study
SandBox/assets/models
SandBox/assets/models-animation
SandBox/assets/texture
*.tlog
*.1.tlog
*.obj
*.idb
*.pdb
*.lastbuildstate