*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/.vshistory/
**/.vs/
**/.idea/
**/cmake-build-debug/
/.idea/
*.recipe
*.ilk
*.log
**/Debug/
**/Release/
*.glsl_frag
*.glsl_vert
*.exe
*.vcxproj
*.filters
*.rdc
/app/.idea/
/app/.vs
/app/src/main/assets/
/app/src/main/JinLibs
/app/src/main/cpp/.idea
/app/src/main/cpp/.vshistory
/app/src/main/cpp/android_shaders/*